
@import url(./CSS/hearder.css);
@import url(./CSS/main.css);
@import url(./CSS/footer.css);
@font-face {
    font-family: "catchye";
    src: url(./assets/fonts/Catchye.otf);
}
@font-face {
    font-family: "roboto";
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    
    font-family: roboto;
}
li{
    list-style: none;
}
h2{
    font-size: 3.8rem;
}
h3{
    font-size: 2.4rem;
    text-decoration: underline;
    text-underline-offset: .5rem;
}
h5{
    font-size: 1.4rem;
    font-weight: 600;
}

